{% extends "index.html" %}

{% block content %}
    <div class="login">
        <h4>Login</h4>
        <form method="post" action="{{ url_for('login') }}">
            <h4>Login</h4>
            <label>Username<input type="text" name="username" id="username" required></label>
            <br>
            <label>Password<input type="password" name="password" id="password" required></label>
            <br>
            <input type="submit" value="Login">
        </form>
        <a href="{{ url_for('recover') }}">Forgot password</a>

        {% include "snippets/_flash.html" %}
    </div>
{% endblock %}