{% extends "index.html" %}

{% block content %}
    <h4>Recover your account</h4>
    <p>Write your username and recovery password you received at sign in. Also write new password.</p>
    <a href="{{ url_for('index') }}">Back to login</a>

    <form action="/recover" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control" required id="username">

            <label for="recovery_password">Recovery password</label>
            <input type="password" name="recovery_password" placeholder="Recovery password" class="form-control"
                   required id="recovery_password">

            <label for="password">New password</label>
            <input type="password" name="password" placeholder="New password" class="form-control" required
                   id="password">

            <label for="repeat-password">Repeat new password</label>
            <input type="password" name="repeat-password" placeholder="Repeat new password" class="form-control"
                   required id="repeat-password">
        </div>
        <button type="submit" class="btn btn-primary">Recover</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}