{% extends "index.html" %}

{% block content %}
    <h4>Recover your account</h4>
    <p>Write your username and recovery password you received at sign in. Also write new password.</p>
    <a href="{{ url_for('login') }}">Back to login</a>

    <form action="/recover" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" required id="username"><br>

            <label for="recovery-password">Recovery password</label>
            <input type="password" name="recovery-password" class="form-control" required id="recovery-password"><br>

            <label for="new-password">New password</label>
            <input type="password" name="new-password" class="form-control" required id="new-password"><br>

            <label for="repeat-new-password">Repeat new password</label>
            <input type="password" name="repeat-new-password" class="form-control" required id="repeat-new-password"><br>
        </div>
        <button type="submit" class="btn btn-primary">Recover</button>
    </form>

    {% include "snippets/_flash.html" %}
{% endblock %}