{% extends "index.html" %}

{% block content %}

    <div class="alert alert-success" role="alert">
        {% if new_account == True %}
            <h4 class="alert-heading">Welcome to our website {{ user.first_name }}!</h4>
            <p>We are glad that you joined us! Below is your recovery password that can be used if you forget your
                password.
                Write that down, so you can recover your account.</p>
            <hr>
        {% else %}
            <h4 class="alert-heading">Your password has been changed!</h4>
            <p>Below is your new recovery password that can be used if you forget your password.
                Write that down, so you can recover your account.</p>
        {% endif %}
        <p class="mb-0">Your recovery password is: <strong>{{ user.recovery_password }}</strong></p>

        <button type="button" onclick="window.location.href='{{ url_for('home') }}'">
            Continue to home page
        </button>
    </div>

{% endblock %}
