<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ala ma długi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<main>
    <h1>Ala ma długi</h1>
    <p>Page for managing dues with your friends.</p>

        {% block content %}
            <button class="button" onclick="window.location.href='/index'">Log in</button>
            <button class="button" onclick="window.location.href='/register'">Sign up</button>
        {% endblock %}
</main>

<footer>
    All rights reserved &copy; etc. etc.
</footer>

</body>
</html>