<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ala ma długi</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<main>
    <h1>Ala ma długi</h1>
    <p>Page for managing dues with your friends.</p>

        {% block content %}
            <a href="/login"><button class="button">Log in</button></a>
            <a href="/register"><button class="button">Sign up</button></a>
        {% endblock %}
</main>

</body>
</html>