{% extends "home_layout.html" %}

{% block content %}
    <h4>Your summary</h4>

    <h5>Your debt</h5>
    {% if not loans_taken %}
        <p>You don't owe anyone anything at the moment.</p>
    {% else %}
        <table>
            <tr>
                <th>User</th>
                <th>Amount</th>
            </tr>
            {% for row in loans_taken %}
                <tr>
                    <td>{{ row.user }}</td>
                    <td>{{ row.amount }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h5>Your loans</h5>
    {% if not loans_given %}
        <p>No one ows you anything.</p>
    {% else %}
        <table>
            <tr>
                <th>User</th>
                <th>Amount</th>
            </tr>
            {% for row in loans_given %}
                <tr>
                    <td>{{ row.user }}</td>
                    <td>{{ row.amount }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% include "snippets/_flash.html" %}

{% endblock %}