{% extends "home_layout.html" %}

{% block content %}
    <h4>Messages</h4>

    {% if messages %}
    {% for message in messages %}
        <div class="notification">
            <p>{{ message.message }}</p>
            <button hx-swap="none">Accept</button>
            <button hx-swap="none">Decline</button>
        </div>
    {% endfor %}
    {% endif %}

    <table>
        <tr>
            <th>Priority</th>
            <th>Date</th>
            <th>Message</th>
        </tr>
    {% for notification in notifications %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}