{% extends "home_layout.html" %}

{% block content %}
    <h4>Messages</h4>

    {% if not messages and not notifications %}
        <p>No messages or notifications</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="notification" hx-swap="none">
                <p>{{ message.message }}, {{ message.timestamp }}</p>
                {% if message.new_loan %}
                    {{ buttons('new-loan', message.id, token) }}
                {% else %}
                    {{ buttons('repay', message.id, token) }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    {% if notifications %}
        <h4>Notifications</h4>
        <table>
            <tr>
                <th>Date</th>
                <th>Message</th>
            </tr>
            {% for notification in notifications %}
                <tr>
                    <td>{{ notification.timestamp }}</td>
                    <td>{{ notification.message }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}

{% macro buttons(url_path, message_id, token) -%}
    <form method="post" action="/{{ url_path }}/{{ message_id }}">
        <input type="hidden" name="CSRFToken" value="{{ token }}">
        <input type="hidden" name="accept" value="true">
        <button class="btn btn-primary">Accept</button>
    </form>
    <form method="post" action="/{{ url_path }}/{{ message_id }}">
        <input type="hidden" name="CSRFToken" value="{{ token }}">
        <input type="hidden" name="accept" value="false">
        <button class="btn btn-danger">Reject</button>
    </form>
{%- endmacro %}