{% extends "home_layout.html" %}

{% block content %}

    <h4>New loan</h4>

    <form method="post" action="{{ url_for('new_loan') }}">
        <label for="lender">Lender's username</label>
        <input type="text" name="lender" id="lender"><br/><br/>
        <label for="amount">How much</label>
        <input type="number" step="0.01" name="amount" id="amount"><br/><br/>
        <label for="deadline">Deadline</label>
        <input type="date" name="deadline" id="deadline"><br/><br/>

        <input type="hidden" name="CSRFToken" value="{{ token }}">
        <input type="submit" value="Submit">
    </form>

    {% include "snippets/_flash.html" %}

{% endblock %}