{% extends "home_layout.html" %}

{% block content %}

    <h4>Your account</h4>
    <p>Username: {{ user.username }}</p>
    <p>Firstname: {{ user.first_name }}</p>
    <p>Lastname: {{ user.last_name }}</p>

    <h4>Change password</h4>
    <form method="post" action="{{ url_for('profile') }}">
        <label for="old-password">Old password</label>
        <input type="password" name="old-password" id="old-password">

        <label for="new-password">New password</label>
        <input type="password" name="new-password" id="new-password">

        <label for="new-password-repeat">Repeat new password</label>
        <input type="password" name="new-password-repeat" id="new-password-repeat">

        <input type="submit" value="Change password">
    </form>

{% endblock %}