<html lang="en">
<h4>Change your password</h4>
<form hx-ext="json-enc">
    <label>
        Current password
        <input type="password" name="password">
    </label>
    <label>
        New password
        <input type="password" name="new-password">
    </label>
    <label>
        Repeat new password
        <input type="password" name="new-password-repeat">
    </label>

    <button hx-patch="/password" hx-swap="outerHTML" hx-target="#response">
        Change password
        {# add confirmation #}
    </button>
</form>

<div id="response"></div>

<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</html>